{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col-md-6 mx-auto mb-3">
        <h2>About us? Among us!</h2>
        <hr />
        <p>On our platformm you can enjoy some quality movies. We are a team of like minded cinema freaks and are not afraid to say it. 
           We will publish compilation of 4 movies every week. You no longer have to google: "A good movie to watch online". 
           Because we got you covered for this week. And the week after that, and after that, and after... and... ALWAYS. Because we are here to stay!
        </p>
        <p>Discover the convenience of our digital platform, where you have the flexibility to watch movies 
          on your preferred device, whether it's a smart TV, tablet, or smartphone. With our intuitive search 
          and recommendation features, finding your next movie night pick has never been easier.
        </p>
        <p>
          In the future, very close, we will implement a personalized movie selection. ML is spreading faster than some diseases
          I know you might have thought of Netflix, but prepare yourself for some actual quality movies. We will give a limited but very precise
          selection of movies that are picked out just for you. 
        </p>
        <p>We value QUALITY over quantity when it comes to movies. Be among people who value that - be Among Us!</p>
      </div>
      <div class="col-md-6 mx-auto mb-3 text-center">
        <img src="{% static 'img/about.jpg' %}" class="img-fluid rounded" style="max-width: 400px;" alt="about" />
      </div>
    </div>
  </div>
</div>
{% endblock content %}